<h1 align=center><font size = 6> Coursera Capstone Project </font></h1>

<h2> The Battle of Neighborhoods (Week 1)</h2>

<div class="alert alert-block alert-info" style="margin-top: 20px">
    <p><font size=4>Contents</font></p>
     <ol>
         <li><a href="#w4_ans1">Introduction</a></li>
         <li><a href="#w4_ans2">Data</a></li>
    </ol>
    
</div>

<a id="w4_ans1"></a>
<h3>Introduction</h3>

**Yangon** is the capital of Myanmar where local migrant workers are residing to work in various industries, and foreign investors are having their eye on new opportunities.

In [46]:
#library to convert an address to latitude and longitude values
from geopy.geocoders import Nominatim

# map rendering library
import folium 

#converting the address of Yangon City to geocodes 
address = 'Yangon City, MM'
geolocator = Nominatim(user_agent='mm_explorer')
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude

#creating map
title_html = '''
    <h3 align="center" style="font-size:20px"><b>The Map of Yangon</b></h3>
    '''
map_yangon = folium.Map(location=[latitude, longitude], zoom_start=10)
map_yangon.get_root().html.add_child(folium.Element(title_html))

<img src='yangon_map.jpg'>

Recently, a local investor is looking for a place to run a burmese restaurant in a certain neighborhood of Yangon.
The area of interest will be in the following criteria:
<ol>
    <li>near to offices, hotels, and public attractions such as supermarket, shopping malls and cinemas</li>
    <li>fewer competitors in the vicinity</li>
    <li>ample space for parking</li> 
</ol>

<a id="w4_ans2"></a>
<h3>Data</h3>

To analyse the each neighborhoods, the coordinates of each neighborhoods in Yangon city will be required and can be found at the website, www.themimu.info.

In [47]:
#library to perform HTTP requests
import requests as rq

#library for handling Zip files
from zipfile import ZipFile as zf
from io import BytesIO as bi

#library to analyse the data
import pandas as pd

url = "http://themimu.info/sites/themimu.info/files/documents/Myanmar_PCodes_Release_9.3_Jan2021_Yangon.zip"
zipObj = rq.get(url)

#extract the Zip file
content = zf(bi(zipObj.content))

#we know that there is only one file
file = content.extract(content.namelist()[0])

Navigating to required data set.

In [49]:
#examine the available sheet names of extracted Excel file
print(pd.ExcelFile(file).sheet_names)

['01_SR', '02_District', '03_Township', '04_Town', '_05_Ward', '06-VillageTract', '_07_Village', 'Metadata']

In [50]:
#the sheet we need is '04_Town'
data = pd.read_excel(file, '04_Town')
data.head()

,SR_Pcode,SR_Name_Eng,District/SAZ_Pcode,District/SAZ_Name_Eng,Tsp_Pcode,Township_Name_Eng,Town_Pcode,Town_Name_Eng,Town_Name_MMR,Longitude,...,Source,Start_Date,Modified_End_Date,Notification,Notification_modified,GAD_Town_Status,Field_Town_Status,MIMU_Town_Mapping_Status,Change_Type,Remark
0,MMR013,Yangon,MMR013D004,Yangon (West),MMR013037,Ahlone,MMR013037701,Ahlone,အလုံ,96.127863,...,City Area,NaT,NaT,NaN,NaN,NaN,NaN,Active,NaN,GAD does not recognized as a Town
1,MMR013,Yangon,MMR013D004,Yangon (West),MMR013044,Bahan,MMR013044701,Bahan,ဗဟန်း,96.156112,...,City Area,NaT,NaT,NaN,NaN,NaN,NaN,Active,NaN,GAD does not recognized as a Town
2,MMR013,Yangon,MMR013D002,Yangon (East),MMR013017,Botahtaung,MMR013017701,Botahtaung,ဗိုလ်တထောင်,96.169709,...,City Area,NaT,NaT,NaN,NaN,NaN,NaN,Active,NaN,GAD does not recognized as a Town
3,MMR013,Yangon,MMR013D003,Yangon (South),MMR013032,Cocokyun,MMR013032701,Cocokyun Town,ကိုကိုးကျွန်း,93.368213,...,GAD,NaT,NaT,NaN,NaN,Active,NaN,Active,NaN,NaN
4,MMR013,Yangon,MMR013D004,Yangon (West),MMR013043,Dagon,MMR013043701,Dagon,ဒဂုံ,96.146900,...,City Area,NaT,NaT,NaN,NaN,NaN,NaN,Active,NaN,GAD does not recognized as a Town

The column names of the original data set will be changed to user friendly names as follows:

In [51]:
#required column names
column_names = ['District/SAZ_Name_Eng', 'Township_Name_Eng', 'Longitude', 'Latitude']

#new column names
new_column_names = ['Borough','Neighborhood','Longitude','Latitude']

data = data[column_names]
data.columns = new_column_names
data.dropna(subset=['Longitude'], inplace=True)
data = data.reset_index()
data.head()

   index         Borough Neighborhood  Longitude   Latitude
0      0   Yangon (West)       Ahlone  96.127863  16.782398
1      1   Yangon (West)        Bahan  96.156112  16.815427
2      2   Yangon (East)   Botahtaung  96.169709  16.771967
3      3  Yangon (South)     Cocokyun  93.368213  14.134431
4      4   Yangon (West)        Dagon  96.146900  16.794952

In [52]:
#the shape of data
print('The data has {} rows and {} columns'.format(data.shape[0],data.shape[1]))

The data has 50 rows and 5 columns

With this data, we will be working to find the best place to run a burmese restaurant considering the criteria.